.simpleButton
{
    background-color: rgb(50, 50, 50);
    color: white;
    font-style: normal;
    font-size: xx-large;
    text-decoration: none;
    padding: 10px;
}

.simpleButton:hover
{
    background-color: white;
    color: black;
}